<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% include "links.html" %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
{% include "nav_bar.html" %}
{% block list %}
                        {% if messages %}
                            <ul class="messages alert alert-danger">

                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}><i class="fa fa-exclamation-triangle" aria-hidden="true">&nbsp;</i>{{ message }}</li>
                                {% endfor %}
                                
                            </ul>
                        {% endif %}

    <div class="container jumbotron infinite-container">               
        <div class="card-columns infinite-item ">
            {% for obj in objectlist  %}  
            {% if obj.user == request.user %}
                    <div class=" card">
                        {% if obj.image %}
                        <a href=" {{obj.get_absolute_url}} ">
                            <img class="card-img-top" src="{{ obj.image.url }}"  alt="Card image cap">
                        </a>
                        {% endif %}
                    <div class="card-body" style="color:white; background-color: #333; border-color: #333;" >
                        <h4 class="card-title" title="{{obj.title}}"><a href="{{obj.get_absolute_url}}" style="color:white;" >{{obj.title}}</a></h4>
                        <p class="card-text">{{obj.post | linebreaks | truncatechars:100}}</p><hr>
                        <p class="card-text "><small style="color: red;" class="text-muted"><i class="fa fa-calendar" aria-hidden="true">&nbsp;</i>{{obj.pub_date  | timesince}} ago</small> <br>
                        <small>
                        <i class="fa fa-comments" aria-hidden="true">&nbsp;</i> 2
                        <i class="fa fa-thumbs-up" aria-hidden="true">&nbsp;</i> 12
                        <i class="fa fa-share-alt" aria-hidden="true">&nbsp;</i> 23<p>
                            {% if obj.user.profile.prof_image %}
                            <img src="{{obj.user.profile.prof_image.url}}" width="20px" height="20px" class="img-circle" alt="Responsive image"> {{obj.user}}
                            {% endif %}
                        </p>  
                    </small></p>
                    </div>
            </div>                       
            {% else %}
            <div class=" card">
                    {% if obj.image %}
                    <a href=" {{obj.get_absolute_url}} ">
                        <img class="card-img-top" src="{{ obj.image.url }}"  alt="Card image cap">
                    </a>
                    {% endif %}
                    <div class="card-body ">
                        <h4 class="card-title" title="{{obj.title}}"><a href="{{obj.get_absolute_url}}" style="color:black;" >{{obj.title}}</a></h4>
                        <p class="card-text">{{obj.post | linebreaks | truncatechars:100}}</p><hr>
                        <p class="card-text "><small style="color: red;" class="text-muted"><i class="fa fa-calendar" aria-hidden="true">&nbsp;</i>{{obj.pub_date  | timesince}} ago</small><br>
                        <small>
                        <i class="fa fa-comments" aria-hidden="true">&nbsp;</i> 2
                        <i class="fa fa-thumbs-up" aria-hidden="true">&nbsp;</i> 12
                        <i class="fa fa-share-alt" aria-hidden="true">&nbsp;</i> 23<p><img src="{{obj.user.profile.prof_image.url}}" width="20px" height="20px" class="img-circle" alt="Responsive image"> {{obj.user}}
                        </p>  
                    </small></p>
                    </div>
            </div>             
                {% endif %}
                {% endfor %}
        </div>
            {% if objectlist.has_next %}
                <a class="infinite-more-link" href="?page={{ objectlist.next_page_number }}">
                    <div class="loading" style="display: none;">Loading...</div>
                </a>
            {% endif %}
    </div>
        <script>
                var infinite = new Waypoint.Infinite({
                    element: $('.infinite-container')[0],
                    onBeforePageLoad: function () {
                      $('.loading').show();
                    },
                    onAfterPageLoad: function ($items) {
                      $('.loading').hide();
                    }
                  });
        </script>
{% endblock list %}
</body>
</html>