 <title>Blog | {{instance.title}}</title>
 <head>
     {% include "links.html" %}
 </head>
    <body>
        {% include "nav_bar.html" %}
        {% if messages %}
        <ul class="messages alert alert-success">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fa fa-check" aria-hidden="true">&nbsp;</i>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}      
        <div class = "container jumbotron">           
                <table>

                    {% if instance.image %}
                    <img src="{{ instance.image.url }}" class="img-fluid" alt="Responsive image">
                    {% endif %}

                    <h1>{{ instance.title }}</h1><p><small><i class="fa fa-calendar" aria-hidden="true">&nbsp;</i>{{instance.pub_date}}|{{instance.pub_date|timesince}}</small></p><br>
                    <p>{{instance.post|linebreaks}}</p><br> 
                    <hr>
                    
                    {% if instance.user == request.user %}

                    <div class = "container">

                        <a  href="{% url 'posts:update' instance.slug%}"><button type="button" class="btn btn-primary"><i class="fa fa-pencil" style="color:white" aria-hidden="true">&nbsp;</i>Edit</button></a>

                        <a class="float-right" href="{% url 'posts:delete' instance.slug %}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o" style="color:white" aria-hidden="true">&nbsp;</i>Delete</button></a>

                        <hr>
                    </div>

                    {% endif %}
                </table>      
                {% if instance.user.profile.prof_image %}
                <h4>
                by 
                <img src="{{instance.user.profile.prof_image.url}}" class="img-cirlce" width="30px" height="30px" alt="Responsive image"> {{instance.user}}
                </h4>
                {%endif%}
            </div>
    </body>
    <style type="text/css">
        .img-cirlce{
            border-radius: 50%;
        }
        
    </style>
    </html>