{% include "links.html" %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{% url "base" %} ">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="  ">Link</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Disabled</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href=" {% url "posts:create" %} ">Create Post</a>
                </li>
        </ul>
            <form class="form-inline my-lg-0" method="GET">
                {% csrf_token %}
                <input id="search" class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
                {% comment %} <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> {% endcomment %}
            </form>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url "account:log_in"%}">Log In </a>
                    <a class="dropdown-item" href="{% url "account:log_out"%}">Log out</a>
                    <a class="dropdown-item" href="{% url "account:register"%}">Register</a>
                </div>
            </div>
        </div>
</nav>
            <div id="search-results">
            </div>                           

{% comment %}================> Search Content JS / Ajax <================ {% endcomment %}
<script>
$(function() {
    $('#search').keyup(function() {
        $.ajax({
            url: '{% url "posts:search" %}',
            type: "GET",
            data: {
                'search': $('#search').val(),
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
            },
            success: searchSuccess,
            dataType: 'html'
        });
    });
});
function searchSuccess(data, textStatus, jqXHR)
{
    $('#search-results').html(data)
}
</script>

