<!DOCTYPE html>
<head>
     {% include "links.html" %}
     <title>{{request.user}}</title>
    </head>
    <body>
            {% include "nav_bar.html" %}
            {% if messages %}
            <ul class="messages alert alert-success">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fa fa-check" aria-hidden="true">&nbsp;</i>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
<div class="container jumbotron">

    <h3> {{hello}} </h3>
    <h3> {{world}} </h3>
    <ul>
        <li><i  class="fa fa-user" aria-hidden="true">&nbsp;</i> {{request.user}} </li>
        <li><i  class="fa fa-envelope" aria-hidden="true">&nbsp;</i> {{request.user.email}} </li>
        <li><i  class="fa fa-info-circle" aria-hidden="true">&nbsp;</i> {{request.user.first_name}} </li>
        <li><i  class="fa fa-info-circle" aria-hidden="true">&nbsp;</i> {{request.user.last_name}} </li>
        <li><a href="{% url "account:edit" %}"><i  class="fa fa-pencil" aria-hidden="true">&nbsp;</i> edit profile</a></li>
        <li><a href="{% url "account:edit-password" %}"><i  class="fa fa-lock" aria-hidden="true">&nbsp;</i> edit password</a></li>
    </ul>
</div>
<style>

</style>
</body>
</html>