<!DOCTYPE html>
<head>
     {% include "links.html" %}
     <title>{{request.user}}</title>
    </head>
    <body>
            {% include "nav_bar.html" %}
            {% if messages %}
            <ul class="messages alert alert-success">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fa fa-check" aria-hidden="true">&nbsp;</i>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
<div class="container jumbotron">

    <ul class="list-group">
        <li class="list-group-item"><i  class="fa fa-user" aria-hidden="true">&nbsp;</i> {{request.user}} </li>
        <li class="list-group-item"><i  class="fa fa-envelope" aria-hidden="true">&nbsp;</i> {{request.user.email}} </li>
        <li class="list-group-item"><i  class="fa fa-info-circle" aria-hidden="true">&nbsp;</i> {{request.user.first_name}}, {{request.user.last_name}} </li>
        <li class="list-group-item"><a href="{% url "account:edit" %}"><i  class="fa fa-pencil" aria-hidden="true">&nbsp;</i> edit profile</a></li>
        <li class="list-group-item"><a href="{% url "account:edit-password" %}"><i  class="fa fa-lock" aria-hidden="true">&nbsp;</i> edit password</a></li>

        <li class="list-group-item">

            <p>{{request.user.profile.bio}}</p>

        <img src="{{ request.user.profile.prof_image.url }}" class="img-fluid" alt="Responsive image">





    </ul>

    <div class="container jumbotron">
                    <h3>Your Posts, {{request.user}}</h3>
                    <hr>
                  
    {% for obj in user_post %}

                <div class=" card">
                        <div class="card-body ">
                          <h4 class="card-title" title="{{obj.title}}"><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h4>
                          <p class="card-text">{{obj.post | linebreaks | truncatechars:100}}</p><hr>
                          <p class="card-text "><small class="text-muted"><i class="fa fa-calendar" aria-hidden="true">&nbsp;</i>{{obj.pub_date}} | {{obj.pub_date  | timesince}} <br>
                            <i class="fa fa-comments" aria-hidden="true">&nbsp;</i> 2
                            <i class="fa fa-thumbs-up" aria-hidden="true">&nbsp;</i> 12
                            <i class="fa fa-share-alt" aria-hidden="true">&nbsp;</i> 23
                        </small>
                        </div>
                </div>
    {% endfor %}        
    </div>

</div>
<style>

</style>
</body>
</html>